.Button {
  background-color: hsl(0, 0, 90);
  box-shadow: 0.2rem 0.2rem 0.2rem hsl(0, 0, 85),
    -0.2rem -0.2rem 0.2rem hsl(0, 0, 95);
  border-radius: 1000px;
  margin: 0.2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:active {
    background-color: hsl(0, 0, 90);
    box-shadow: 0.2rem 0.2rem 0.2rem hsl(0, 0, 85) inset,
      -0.2rem -0.2rem 0.2rem hsl(0, 0, 95) inset;
  }
}

.AddMemberButton {
  composes: Button;
  width: 2rem;
  height: 2rem;
  background-color: hsl(45, 100%, 50);
  color: #fff;
  &:active {
    background-color: hsl(45, 100%, 50);
    box-shadow: 0.2rem 0.2rem 0.2rem hsl(45, 100%, 40) inset,
      -0.2rem -0.2rem 0.2rem hsl(45, 100%, 60) inset;
  }
}

.SearchButton {
  composes: Button;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 2rem;
  height: 2rem;
  background-color: hsl(260, 100%, 50);
  color: #fff;
  &:active {
    background-color: hsl(260, 100%, 50);
    box-shadow: 0.2rem 0.2rem 0.2rem hsl(260, 100%, 40) inset,
      -0.2rem -0.2rem 0.2rem hsl(260, 100%, 60) inset;
  }
}
